{{- $profile := env "CHEZMOI_PROFILE" -}}
{{- if not $profile -}}
{{- $profile = promptStringOnce . "profile" "Setup profile (full/minimal)" "full" -}}
{{- end -}}
[data]
    profile = {{ $profile | quote }}
