" ~/.vimrc — managed by chezmoi
" Source: https://github.com/frenshape/dotfiles
" One file, works on macOS (MacVim), Windows (gVim), and Linux.

call plug#begin()

Plug 'preservim/vim-markdown'
Plug 'iamcco/markdown-preview.nvim', { 'do': 'cd app && yarn install' }
Plug 'davidhalter/jedi-vim'
Plug 'vim-python/python-syntax'
Plug 'dense-analysis/ale'
Plug 'preservim/nerdtree'
{{- if eq .profile "full" }}
Plug 'lervag/vimtex',                { 'tag': 'v2.18' }
{{- end }}

call plug#end()

" --- General ---
syntax on
filetype plugin indent on
set number
set expandtab shiftwidth=2 tabstop=2
set incsearch hlsearch
set nocompatible

" --- Python ---
let g:python_highlight_all = 1
let g:ale_linters = {'python': ['flake8', 'pylint']}
let g:ale_fixers  = {'python': ['black']}
let g:ale_fix_on_save = 1

" --- Markdown ---
let g:vim_markdown_folding_disabled = 1

" --- NERDTree ---
nnoremap <C-n> :NERDTreeToggle<CR>

" --- LaTeX (vimtex) ---
{{- if eq .profile "full" }}
" PDF viewer differs by OS — vimtex picks the right one automatically here.
if has('macunix')
  let g:vimtex_view_method = 'skim'
elseif has('win32')
  let g:vimtex_view_method = 'sumatrapdf'
else
  let g:vimtex_view_method = 'zathura'
endif
{{- end }}
